@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500&family=Roboto:wght@300&display=swap");

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
}

table,
tr,
th,
td {
  border: 2px solid black;
}

.table {
  margin-top: 1%;
  margin-bottom: 1%;
}

#updateForm {
  display: none;
  margin-top: 20px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

#filterForm {
  display: none;
  margin-top: 20px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.resetForm {
  display: inline;
}

.container {
  margin-top: 1%;
}

.loginForm {
  margin-top: 25vh;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 5px 0 black;
  width: 98%;
  height: 70%;
}

.actionList {
  margin-top: 25vh;
}

.actionLink {
  text-decoration: none;
  font-weight: bolder;
}

.message {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.vendorList {
  max-width: 90%;
  position: relative;
  margin: auto;
  margin-top: 1%;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style: none;
}
