<html>
  <head>
    <title>{{ name }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="{{ url_for('verifyLogin') }}">Dashboard</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <center><h1>{{ name }}</h1></center>
      <button
        id="toggleButton1"
        onclick="toggleForm1()"
        class="btn btn-lg btn-outline-success"
      >
        Update Form
      </button>
      <button
        id="toggleButton2"
        onclick="toggleForm2()"
        class="btn btn-lg btn-outline-success"
      >
        Filter Form
      </button>
      <form action="/resetTable" , method="POST" class="resetForm">
        <input type="hidden" name="name" value="{{ name }}" />
        <input type="hidden" name="type" value="customer" />
        <button type="submit" class="btn btn-lg btn-outline-success">
          Reset
        </button>
      </form>
      <form action="/updateCustomer" method="POST" id="updateForm">
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" name="date" id="date" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="text" name="amount" id="amount" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="to" class="form-label">Given To</label>
          <select name="to" id="to" class="form-control">
            <option value="Atiya Sultana">Atiya Sultana</option>
            <option value="Aqeel Khan">Aqeel Khan</option>
            <option value="Chand Bibi">Chand Bibi</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Payment Type</label>
          <select name="type" id="type" class="form-control">
            <option value="paid">Paid</option>
            <option value="newBill">New Bill</option>
          </select>
        </div>
        <input type="hidden" name="name" value="{{ name }}" />
        <input type="submit" value="Submit" class="btn btn-md btn-success" />
      </form>
      <form action="/getOneCustomer" method="POST" id="filterForm">
        <div class="mb-3">
          <label for="from" class="form-label">From</label>
          <input
            type="date"
            id="from"
            name="from"
            value="###"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="to" class="form-label">To</label>
          <input
            type="date"
            id="to"
            name="to"
            value="###"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="givenTo" class="form-label">Given To:</label>
          <select name="givenTo" id="givenTo" class="form-control">
            <option value="###">Select one</option>
            <option value="Aqeel Khan">Aqeel Khan</option>
            <option value="Atiya Sultana">Atiya Sultana</option>
            <option value="Chand Bibi">Chand Bibi</option>
          </select>
        </div>
        <input type="hidden" name="name" value="{{ name }}" />
        <input type="submit" value="Submit" class="btn btn-md btn-success" />
      </form>
      <table class="table table-light table-striped-columns">
        <tr>
          <th>Date</th>
          <th>Due</th>
          <th>Given</th>
          <th>Remaining</th>
          <th>Given From</th>
        </tr>
        {% for i in range(length) %}
        <tr>
          <td>{{ allData[0][i] }}</td>
          <td>₹{{ allData[1][i] }} /-</td>
          <td>₹{{ allData[2][i] }} /-</td>
          <td>₹{{ allData[3][i] }} /-</td>
          <td>{{ allData[4][i] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <script>
      function toggleForm1() {
        var form = document.getElementById("updateForm");
        var button = document.getElementById("toggleButton1");
        form.style.display = form.style.display === "none" ? "block" : "none";
        form.style.height =
          form.offsetHeight === 0 ? form.scrollHeight + "px" : "0";
        button.innerText =
          form.offsetHeight === 0 ? "Update Form" : "Hide Form";
      }

      function toggleForm2() {
        var form = document.getElementById("filterForm");
        var button = document.getElementById("toggleButton2");
        form.style.display = form.style.display === "none" ? "block" : "none";
        form.style.height =
          form.offsetHeight === 0 ? form.scrollHeight + "px" : "0";
        button.innerText =
          form.offsetHeight === 0 ? "Filter Form" : "Hide Form";
      }
    </script>
  </body>
</html>
